@font-face{
    font-family:'IBM Plex Sans';
    src:url('./Font/IBMPlexSans-Regular.ttf');
    font-style:normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family:'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./Font/IBMPlexSans-Medium.ttf');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('./Font/IBMPlexSans-Bold.ttf');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}


html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;

}

input:focus ~ ul{
    display:block;
}